<header class="border-b border-black mb-2">
  {{machine.key}}
</header>
<div class="flex relative">
  {{#if canRenderStatechart}}
    {{#each machineStates as |stateNode|}}
      <div class="m-4 p-4">
        {{state-node
          stateNode=stateNode
          activeState=activeState
          previewState=previewState
          onPreviewTransition=(action "setPreviewStateValue")
          onUnpreviewTransition=(action (mut previewStateValue) null)
          onClickTransition=(action "followStateChartTransition")
        }}
      </div>
    {{/each}}
    {{#ui-svg class="absolute pin h-full w-full pointer-events-none" as |c|}}
      {{#each edges as |edge|}}
        {{c.ui.edge
          sourceNode=edge.source
          targetNode=edge.target
          event=edge.event
          edge=edge
          activeState=activeState
          previewState=previewState
        }}
      {{/each}}
      {{#each initialStates as |node|}}
        {{c.ui.initialEdge node=node activeState=activeState}}
      {{/each}}
    {{/ui-svg}}
  {{/if}}
</div>