<div class="h-full flex">
  <div class="flex-grow">
    {{#if machine}}
      {{statechart-viz machine=machine canRenderEdges=canRenderEdges}}
    {{/if}}
  </div>
  <div class="bg-red flex-no-shrink w-128">
    {{ember-ace
      value=value
      update=(action 'updateConfig')
      class="h-full"
      editorClass="h-full"
    }}
  </div>
</div>